a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
  outline: 0 !important;
  color: var(--white-font-color);
}

a:hover {
  text-decoration: none;
  color: var(--grey-font-color);
}

p {
  font-family: "Poppins", sans-serif;
  /*color: var(--white-font-color);*/
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: var(--white-font-color);
  margin: 0 0 15px 0;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: none;
  border: none;
  padding: 0;
  margin: 0;

  font-family: inherit;
  font-size: inherit;
  color: inherit;

  line-height: inherit;

  cursor: pointer;

  box-shadow: none;
  text-shadow: none;

  overflow: visible;

  display: inline-block;
  vertical-align: middle;

  /* This removes the outline when the button is clicked in Webkit browsers */
  outline: none;

  /* Other properties you might want to reset, based on your needs */
  text-transform: none;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-align: left;
  text-rendering: auto;

  transition: none;
}

/* For hover, focus, active states */
button:hover,
button:focus,
button:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="reset"]:active {
  background: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  outline: none;
}
