/*================================================
Default CSS
=================================================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

html,
body {
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

/*Custom scrollBar*/
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--main-theme-color);
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.leaflet-popup-content-wrapper {
  width: 250px !important;
  text-align: center !important;
}

.btn_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-top: 30px
}

.btn_group a {
  padding: 5px 15px;
  border-radius: 10px;
  border: 1px solid var(--dark-font-color);
  color: var(--dark-font-color);
}

.btn_group a:hover {
  color: var(--main-theme-color);
}

.btn_work {
  padding: 5px 15px;
  border: 1px solid gray;
  border-radius: 10px;
}

.btn_not_work {
  padding: 5px 15px;
  border: 1px solid gray;
  border-radius: 10px;
  opacity: 0.3;
  cursor: no-drop;
  color: black !important;
}
